/* VARIABLES
====================================================================*/
/* VARIABLES
====================================================================*/
/* STYLES
====================================================================*/
/* line 60, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
a, a:visited {
  color: #b58636; }

/* line 64, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
a:hover, a:focus, a:active {
  color: #a17730; }

/* line 68, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
.submit, .submit:visited, .learnmore, .learnmore:visited, .readmore, .readmore:visited {
  background: #b58636;
  border: none;
  color: #fff; }

/* line 74, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
.submit:hover, .submit:focus, .submit:active, .learnmore:hover, .learnmore:focus, .learnmore:active, .readmore:hover, .readmore:focus, .readmore:active {
  background: #a17730 !important;
  border: none;
  color: #fff; }

/* line 80, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
.body-container {
  background-color: #ebebeb;
  overflow: hidden; }

/* line 85, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
hr {
  border-top: 1px solid #d8d8d6; }

/* line 89, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
.c-fmg-divider {
  height: 2px;
  background: #d8d8d6;
  border-bottom: 1px solid #fff; }

/** Top Bar **/
@media only screen and (max-width: 460px) {
  /* line 97, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
  .top-bar a {
    color: #b58636; } }
@media only screen and (max-width: 460px) {
  /* line 103, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
  .top-bar .header-phone {
    margin-top: 0; } }
/** Header **/
/* line 109, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
header .moonlight-header-logo img {
  width: 100%; }

/** Hero **/
/* line 114, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
#hero .heroOverlay {
  height: 100%;
  padding: 20px 0; }

/** Navigation **/
/* line 120, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
.angleDown {
  display: inline-block; }

@media only screen and (min-width: 769px) {
  /* line 125, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
  nav#main .container ul li a {
    padding: 15px 20px; }

  /* line 128, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
  nav#main .container ul li:hover .dropdown-menu {
    top: 50px; }

  /* line 131, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
  nav#main ul .dropdown-menu li a {
    padding: 15px 15px 15px 20px !important; } }
/** Footer **/
/* line 137, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
.footer-container {
  color: #eee; }

/* line 140, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
footer h4 {
  text-decoration: none;
  font-weight: 700; }

/* line 144, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
footer a, .quickLinks ul a, footer .note a, footer .contact .moonlight-contact-information a {
  color: #b58636;
  text-decoration: none; }

/* line 148, ../../../../../Applications/MAMP/htdocs/moonlight-theme/scss/styles.scss */
footer a:hover, .quickLinks ul a:hover {
  color: #a17730; }



/*# sourceMappingURL=styles.css.map */